@font-face {
    font-family:Raleway ;
    src: url("Font/Raleway/Raleway-Italic-VariableFont_wght.ttf") format("truetype");
    src: url("Font/Raleway/Raleway-VariableFont_wght.ttf") format("truetype");

}
body
 {
   margin: 0;
   padding: 0;
   background: #232323;
   color: #cdcdcd;
   font-family: Raleway , "Avenir Next", "Avenir", sans-serif;
 }

 header {
     margin-top: 10%;
     margin-right: 35%;
     margin-left: 35%;
     display: flex; 
     align-items: center;
    font-size: xx-large; 
    font-weight: bolder;
    color: whitesmoke;
    /* margin: 30px; */
 }
 .h1 {
     display: flex;
    margin: 200px;
 }